In [1]:
import pandas as pd
import numpy as np

# When using loc and boolean variable to slice the df, make sure using bracket if you have multiple conditions

In [3]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

In [4]:
df

   a  b
0  1  4
1  2  5
2  3  6

In [6]:
df.loc[(df['a']>0)&(df['b']>5)]

   a  b
2  3  6