In [2]:
import pandas as pd

When using chain index, please follow following best practice

In [23]:
df = pd.DataFrame({'col1':[1,2,3],'col2':[4,6,7]})
df

   col1  col2
0     1     4
1     2     6
2     3     7

In [24]:
# standard chain index, will return scalar type
df.iloc[0,:].loc['col1']

1

## if you want to modify, always start with loc, which gurantee to be __setitem__ instead of __getitem__, latter just modify on the view instead of original data

In [26]:
# modify
df.loc[:,'col2'].iloc[0] = 99
df

   col1  col2
0     1    99
1     2     6
2     3     7