## Let's try to understand the MultiIndex

In [1]:
import pandas as pd
import numpy as np

## 1. Create MultiIndex

In [39]:
ori_array = [('l1','l2','l3'),('c1','c2','c3'),('r1','r2','r3')]
ori_tuple = [('l1','c1','r1'),('l2','c2','r2'),('l3','c3','r3')]

In [40]:
mi = pd.MultiIndex.from_arrays(arrays=ori_array,sortorder=0,names=('left','center','right'))

In [41]:
mi   # level 0 is left, level -1 is right

MultiIndex([('l1', 'c1', 'r1'),
            ('l2', 'c2', 'r2'),
            ('l3', 'c3', 'r3')],
           names=['left', 'center', 'right'])

In [42]:
mi = pd.MultiIndex.from_tuples(tuples=ori_tuple,sortorder=0,names=('left','center','right'))

In [43]:
mi

MultiIndex([('l1', 'c1', 'r1'),
            ('l2', 'c2', 'r2'),
            ('l3', 'c3', 'r3')],
           names=['left', 'center', 'right'])

In [44]:
# other two methods are from_frames or from_products, here omitted

## 2. MultiIndex properties

In [45]:
mi.names

FrozenList(['left', 'center', 'right'])

In [46]:
mi.levels

FrozenList([['l1', 'l2', 'l3'], ['c1', 'c2', 'c3'], ['r1', 'r2', 'r3']])

In [47]:
mi.levels[0]

Index(['l1', 'l2', 'l3'], dtype='object', name='left')

In [48]:
mi.codes  # if we first encode the unique values in each level with numeric code

FrozenList([[0, 1, 2], [0, 1, 2], [0, 1, 2]])

In [49]:
mi.nlevels

3

In [50]:
mi.levshape   # length of each level

(3, 3, 3)

In [22]:
mi.dtype   # view the MultiIndex as a series

dtype('O')

## 3. modify the MultiIndex

In [23]:
mi.set_levels(('ll1','ll2','ll3'),0)   # just need to input the unique values to be replaced in that level, not whole level

MultiIndex([('ll1', 'c1', 'r1'),
            ('ll2', 'c2', 'r2'),
            ('ll3', 'c3', 'r3')],
           names=['left', 'center', 'right'])

In [24]:
mi.set_codes((2,1,0),0)    # more like reorder, based on the numeric codes that encode the level

MultiIndex([('l3', 'c1', 'r1'),
            ('l2', 'c2', 'r2'),
            ('l1', 'c3', 'r3')],
           names=['left', 'center', 'right'])

## 4.export to others

In [26]:
mi.to_flat_index()   # inverse of from_tuple, but type is an Index

Index([('l1', 'c1', 'r1'), ('l2', 'c2', 'r2'), ('l3', 'c3', 'r3')], dtype='object')

In [27]:
mi.to_frame()

                  left center right
left center right
l1   c1     r1      l1     c1    r1
l2   c2     r2      l2     c2    r2
l3   c3     r3      l3     c3    r3

In [28]:
mi.to_frame(index=False)

  left center right
0   l1     c1    r1
1   l2     c2    r2
2   l3     c3    r3