In [ ]:
import pandas as pd
import numpy as np

## First talking about Index

In [ ]:
pd_index = pd.Index(['index1','index2','index3'],name='index')

In [ ]:
print(pd_index)

Index(['index1', 'index2', 'index3'], dtype='object', name='index')

In [ ]:
pd_index.values

array(['index1', 'index2', 'index3'], dtype=object)

In [ ]:
pd_index.name

'index'

In [ ]:
pd_index.dtype

dtype('O')

In [ ]:
# transfer to list, series, frame
print(pd_index.tolist())
print(pd_index.to_series())  # duplicate the index to series index, index to series data
print(pd_index.to_frame())  # duplicate the index to frame index, index to column 1

# series can be further converted to dict
print(pd_index.to_series().to_dict())

['index1', 'index2', 'index3']
index
index1    index1
index2    index2
index3    index3
Name: index, dtype: object
         index
index
index1  index1
index2  index2
index3  index3
{'index1': 'index1', 'index2': 'index2', 'index3': 'index3'}

## Then let's talk about MultiIndex

In [ ]:
ori_array = [('l1','l2','l3'),('c1','c2','c3'),('r1','r2','r3')]
ori_tuple = [('l1','c1','r1'),('l2','c2','r2'),('l3','c3','r3')]

In [ ]:
mi = pd.MultiIndex.from_arrays(arrays=ori_array,sortorder=0,names=('left','center','right'))

In [ ]:
mi   # level 0 is left, level -1 is right

MultiIndex([('l1', 'c1', 'r1'),
            ('l2', 'c2', 'r2'),
            ('l3', 'c3', 'r3')],
           names=['left', 'center', 'right'])

In [ ]:
mi = pd.MultiIndex.from_tuples(tuples=ori_tuple,sortorder=0,names=('left','center','right'))

In [ ]:
mi

MultiIndex([('l1', 'c1', 'r1'),
            ('l2', 'c2', 'r2'),
            ('l3', 'c3', 'r3')],
           names=['left', 'center', 'right'])

## Attributes of MultiIndex

In [ ]:
mi.names

FrozenList(['left', 'center', 'right'])

In [ ]:
mi.levels.  # this is just the unique level, not all entries, using to_frames instead

FrozenList([['l1', 'l2', 'l3'], ['c1', 'c2', 'c3'], ['r1', 'r2', 'r3']])

In [ ]:
mi.levels[0]

Index(['l1', 'l2', 'l3'], dtype='object', name='left')

In [ ]:
mi.codes  # if we first encode the unique values in each level with numeric code

FrozenList([[0, 1, 2], [0, 1, 2], [0, 1, 2]])

In [ ]:
mi.nlevels

3

In [ ]:
mi.levshape

(3, 3, 3)

In [ ]:
mi.dtype

dtype('O')

## Operations on MultiIndex

In [ ]:
mi.set_levels(levels=('ll1','ll2','ll3'),level=0)   # just need to input the unique values to be replaced in that level, not whole level

MultiIndex([('ll1', 'c1', 'r1'),
            ('ll2', 'c2', 'r2'),
            ('ll3', 'c3', 'r3')],
           names=['left', 'center', 'right'])

In [ ]:
mi.set_codes(codes=(2,1,0),level=0)    # more like reorder, based on the numeric codes that encode the level

MultiIndex([('l3', 'c1', 'r1'),
            ('l2', 'c2', 'r2'),
            ('l1', 'c3', 'r3')],
           names=['left', 'center', 'right'])

In [ ]:
arrays = [['col1','col2','col3'],['lev1','lev2','lev3']]
pd_MultiIndex = pd.MultiIndex.from_arrays(arrays,names=['col','lev'])
print(pd_MultiIndex)

MultiIndex([('col1', 'lev1'),
            ('col2', 'lev2'),
            ('col3', 'lev3')],
           names=['col', 'lev'])

In [ ]:
df = pd.DataFrame(data=np.random.random([3,3]),index=pd_MultiIndex,columns=pd_MultiIndex)
df

col            col1      col2      col3
lev            lev1      lev2      lev3
col  lev
col1 lev1  0.404344  0.736879  0.132671
col2 lev2  0.510866  0.407481  0.845972
col3 lev3  0.351028  0.496618  0.347668

In [ ]:
# indexing column first level
df.loc[:,'col1']

lev            lev1
col  lev
col1 lev1  0.404344
col2 lev2  0.510866
col3 lev3  0.351028

In [ ]:
# index column second level, also applicable to both levels together
df.loc[:,(slice(None),'lev1')]

col            col1
lev            lev1
col  lev
col1 lev1  0.404344
col2 lev2  0.510866
col3 lev3  0.351028

In [ ]:
# get_level_values
pd_MultiIndex.get_level_values('col')

Index(['col1', 'col2', 'col3'], dtype='object', name='col')

In [ ]:
print(mi.to_flat_index())   # inverse of from_tuple, but type is an Index
print(pd_MultiIndex.tolist())
print(mi.to_frame())
print(mi.to_frame(index=False))

Index([('l1', 'c1', 'r1'), ('l2', 'c2', 'r2'), ('l3', 'c3', 'r3')], dtype='object')
[('col1', 'lev1'), ('col2', 'lev2'), ('col3', 'lev3')]
                  left center right
left center right
l1   c1     r1      l1     c1    r1
l2   c2     r2      l2     c2    r2
l3   c3     r3      l3     c3    r3
  left center right
0   l1     c1    r1
1   l2     c2    r2
2   l3     c3    r3