In [2]:
import pandas as pd
import numpy as np

Categorical is a special pandas object, it is for categorical variables where a set of catetories will be set with an optional order argument

In [3]:
col4 = pd.Categorical(['first','second','third'])

In [4]:
df = pd.DataFrame({'col1':[1,2,3],'col2':[0.3,0.4,0.5],'col3':['first','second','third'],'col4':col4,
                   'col5':[1,0.4,'first']})

In [5]:
df

   col1  col2    col3    col4   col5
0     1   0.3   first   first      1
1     2   0.4  second  second    0.4
2     3   0.5   third   third  first

In [6]:
df.dtypes

col1       int64
col2     float64
col3      object
col4    category
col5      object
dtype: object

The *col5* is *object* because it's mixed type and python can not assign a homogenous type for all

# A pandas Series object as category dtype is not the same as a pandas categorical object  !!!

### here the *col4* is a pandas categorical, it has attribute *categories*

In [7]:
col4.categories   # will be a Index object

Index(['first', 'second', 'third'], dtype='object')

In [8]:
df.loc[:,'col4']  # this is a pandas Series object as category dtype

0     first
1    second
2     third
Name: col4, dtype: category
Categories (3, object): ['first', 'second', 'third']

In [9]:
df.loc[:,'col4'].dtype

CategoricalDtype(categories=['first', 'second', 'third'], ordered=False)

In [11]:
# using .cat to access a CategoricalAccessor
df.loc[:,'col4'].cat

In [12]:
df.loc[:,'col4'].cat.categories

Index(['first', 'second', 'third'], dtype='object')

In [13]:
df.loc[:,'col4'].cat.reorder_categories(['second','first','third'])

0     first
1    second
2     third
Name: col4, dtype: category
Categories (3, object): ['second', 'first', 'third']