In [2]:
import pandas as pd
import numpy as np

## In pandas, how to "reshape" the dataframe? There are a few very powerful functions.

### part I: table function (similar to R)
1. crosstab
2. pivot_table
3. group_by -> to gruopbySeries -> aggregation function -> unstack

### part II : general reshaping (please check the documentation)
1. stack, unstack
2. reset_index, set_index (can also just set completely new index, or borrow from the columns)
3. rename_axis (rename the name of the index - df.columns, df.index), rename (rename the name of the column or row)

In [3]:
# crosstab

In [8]:
samples = np.array(['sample1','sample2','sample3','sample4','sample5','sample6','sample3','sample1'])
mutations = np.array(['mutation1','mutation1','mutation1','mutation2','mutation2','mutation3','mutation3','mutation1'])
yes = np.array([1,1,1,4,1,1,1,5])
df = pd.DataFrame({'samples':samples,'mutations':mutations,'yes':yes})

In [9]:
pd.crosstab(index=df['samples'],columns=df['mutations'],values=df['yes'],aggfunc=np.sum)

mutations  mutation1  mutation2  mutation3
samples
sample1          6.0        NaN        NaN
sample2          1.0        NaN        NaN
sample3          1.0        NaN        1.0
sample4          NaN        4.0        NaN
sample5          NaN        1.0        NaN
sample6          NaN        NaN        1.0

In [ ]:
# pivot_table

In [12]:
pd.pivot_table(data=df,index='samples',columns='mutations',values='yes',aggfunc=np.sum,fill_value=0)

mutations  mutation1  mutation2  mutation3
samples
sample1            6          0          0
sample2            1          0          0
sample3            1          0          1
sample4            0          4          0
sample5            0          1          0
sample6            0          0          1

In [13]:
# groupby

In [14]:
df.groupby(['samples','mutations'])['yes'].sum().unstack(fill_value=0)

mutations  mutation1  mutation2  mutation3
samples
sample1            6          0          0
sample2            1          0          0
sample3            1          0          1
sample4            0          4          0
sample5            0          1          0
sample6            0          0          1