## How to pull out (index,column) pair based on the value

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(data=np.random.random([4,5]),
                 index=['index{}'.format(i) for i in range(4)],
                 columns=['column{}'.format(j) for j in range(5)])

In [5]:
df

         column0   column1   column2   column3   column4
index0  0.544434  0.802825  0.655728  0.934888  0.816495
index1  0.648307  0.832188  0.232913  0.709664  0.587650
index2  0.935344  0.092050  0.824676  0.009826  0.676666
index3  0.587976  0.968270  0.432512  0.164208  0.715670

# we want to pull out all (index-column) pair whose value > 0.8

In [7]:
df.where(df>0.8).stack().index.tolist()

[('index0', 'column1'),
 ('index0', 'column3'),
 ('index0', 'column4'),
 ('index1', 'column1'),
 ('index2', 'column0'),
 ('index2', 'column2'),
 ('index3', 'column1')]

# let's digest
1. step1: df > 0.8 will return a boolean dataframe
2. step2: df.where without addtional argument will alter entries that is False as NaN (most important step)
3. step3: NaN will be automatically igonored when calling stack() to construct multiIndex
4. step4: extract multiIndex and chagne to list

In [8]:
# step1
df > 0.8

        column0  column1  column2  column3  column4
index0    False     True    False     True     True
index1    False     True    False    False    False
index2     True    False     True    False    False
index3    False     True    False    False    False

In [9]:
# step2
df.where(df>0.8)

         column0   column1   column2   column3   column4
index0       NaN  0.802825       NaN  0.934888  0.816495
index1       NaN  0.832188       NaN       NaN       NaN
index2  0.935344       NaN  0.824676       NaN       NaN
index3       NaN  0.968270       NaN       NaN       NaN

In [10]:
# step3
df.where(df>0.8).stack()

index0  column1    0.802825
        column3    0.934888
        column4    0.816495
index1  column1    0.832188
index2  column0    0.935344
        column2    0.824676
index3  column1    0.968270
dtype: float64

In [12]:
# step4
df.where(df>0.8).stack().index

MultiIndex([('index0', 'column1'),
            ('index0', 'column3'),
            ('index0', 'column4'),
            ('index1', 'column1'),
            ('index2', 'column0'),
            ('index2', 'column2'),
            ('index3', 'column1')],
           )