In [1]:
import pandas as pd
import numpy as np

## How to read R format data, which means the length of header line is length-1

We prepared three files in ../data folder, one is R format, the othera are normal txt file

In [2]:
# R format, meaning header line is one less than main body
pd.read_csv('../data/R_data.txt',sep='\t')   # will automatically figure it out

        Col1  col2  col3  col4
Index1     4     5     7     8
Index2     9    10    45    78
Index3    44    34    90    12

In [3]:
# normal format, means the first entry is empty, but the column number is the same (header and main body)
pd.read_csv('../data/normal_data.txt',sep='\t',index_col=0)

        col1  col2  col3  col4
Index1     1     4     7     9
Index2    10    45    78    90
Index3    11    34    45    89

In [4]:
# complete format
pd.read_csv('../data/complete_data.txt',sep='\t')

    Place  col1  col2  col3  col4
0  Index1     1     4     7     9
1  Index2    10    45    78    90
2  Index3    11    34    45    89

In [9]:
# complete format
df=pd.read_csv('../data/complete_data.txt',sep='\t',index_col=0)
print(df)
print(df.index)
print(df.columns)

        col1  col2  col3  col4
Place
Index1     1     4     7     9
Index2    10    45    78    90
Index3    11    34    45    89
Index(['Index1', 'Index2', 'Index3'], dtype='object', name='Place')
Index(['col1', 'col2', 'col3', 'col4'], dtype='object')

## As an extension, it is always good to check how pandas infer the name of columns and index, things can get more complicated when multi-index and skip-rows are involved