In [1]:
import pandas as pd

## What if I want to insert a row into a arbitrary place?

In [2]:
df = pd.DataFrame({'col1':[1,2,3],'col2':[5,6,7],'col3':[9,10,11]})

In [3]:
df

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11

In [4]:
# I want to insert a row between 1 and 2
row = pd.DataFrame({'col1':[4],'col2':[0],'col3':1})
pd.concat([df.iloc[0:2],row,df.iloc[2:]],axis=0)

   col1  col2  col3
0     1     5     9
1     2     6    10
0     4     0     1
2     3     7    11