In [13]:
import pandas as pd
import numpy as np

Let's create a Index object

In [14]:
pd_index = pd.Index(['index1','index2','index3'],name='index')

In [15]:
print(pd_index)

Index(['index1', 'index2', 'index3'], dtype='object', name='index')

Important attributes that can help to understand Index object

In [16]:
pd_index.values

array(['index1', 'index2', 'index3'], dtype=object)

In [17]:
pd_index.name

'index'

In [18]:
pd_index.dtype

dtype('O')

In [24]:
# transfer to list, series, frame
print(pd_index.tolist())
print(pd_index.to_series())  # duplicate the index to series index, index to series data
print(pd_index.to_frame())  # duplicate the index to frame index, index to column 1

# series can be further converted to dict
print(pd_index.to_series().to_dict())

['index1', 'index2', 'index3']
index
index1    index1
index2    index2
index3    index3
Name: index, dtype: object
         index
index
index1  index1
index2  index2
index3  index3
{'index1': 'index1', 'index2': 'index2', 'index3': 'index3'}

How about MultiIndex object, let's generate one.

In [2]:
arrays = [['col1','col2','col3'],['lev1','lev2','lev3']]
pd_MultiIndex = pd.MultiIndex.from_arrays(arrays,names=['col','lev'])

In [3]:
print(pd_MultiIndex)

MultiIndex([('col1', 'lev1'),
            ('col2', 'lev2'),
            ('col3', 'lev3')],
           names=['col', 'lev'])

Again, play with the attributes a bit to get familiar with the composition of this special object.

In [30]:
pd_MultiIndex.names

FrozenList(['col', 'lev'])

In [31]:
pd_MultiIndex.levels

FrozenList([['col1', 'col2', 'col3'], ['lev1', 'lev2', 'lev3']])

In [34]:
pd_MultiIndex.levels[0]

Index(['col1', 'col2', 'col3'], dtype='object', name='col')

### There are several methods with MultiIndex

In [4]:
# indexing
df = pd.DataFrame(data=np.random.random([3,3]),index=pd_MultiIndex,columns=pd_MultiIndex)

In [5]:
df

col            col1      col2      col3
lev            lev1      lev2      lev3
col  lev
col1 lev1  0.591889  0.684735  0.942501
col2 lev2  0.078213  0.916395  0.490648
col3 lev3  0.064833  0.971781  0.695567

In [9]:
# indexing column first level
df.loc[:,'col1']

lev            lev1
col  lev
col1 lev1  0.591889
col2 lev2  0.078213
col3 lev3  0.064833

In [7]:
# index column second level, also applicable to both levels together
df.loc[:,(slice(None),'lev1')]

col            col1
lev            lev1
col  lev
col1 lev1  0.591889
col2 lev2  0.078213
col3 lev3  0.064833

In [11]:
# get_level_values
pd_MultiIndex.get_level_values('col')

Index(['col1', 'col2', 'col3'], dtype='object', name='col')

In [26]:
# trasfer to list, frame
print(pd_MultiIndex.tolist())
print(pd_MultiIndex.to_frame()) # multiple level to columns, duplicate the index to df index

[('col1', 'lev1'), ('col2', 'lev2'), ('col3', 'lev3')]
            col   lev
col  lev
col1 lev1  col1  lev1
col2 lev2  col2  lev2
col3 lev3  col3  lev3